#primary_menu{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: max-content;
  background-color: black;
  border-right: 1px solid #3C3C3C;
  padding: 140px 21px 0;
  display: flex;
  flex-direction: column;
  gap: 59px;
  align-items: center;
  .li{
    img{
      width: 20px;
      color: #fff;
    }
  }
}